<% if (typeof errorMessage === 'undefined') { errorMessage = []; } %>
<% if (errorMessage.length > 0) { %>
  <div>
    <ul>
      <% errorMessage.forEach(function(item) { %>
        <li><%= item %></li>
      <% }) %>
    </ul>
  </div>
<% } %>
